<%= form_with(model: thing_to_do, local: true) do |form| %>

    <input name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>"/>

  <% if thing_to_do.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thing_to_do.errors.count, "error") %> prohibited this thing_to_do from being saved:</h2>

      <ul>
      <% thing_to_do.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :thing_to_do_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :thing_to_do_description %>
  </div>


<!--
  <div class="field">
    <%= form.label :attending %>
    <%= form.number_field :attending, id: :thing_to_do_attending %>
  </div>
-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
