<p id="notice"><%= notice %></p>

<h1>Thing To Dos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Attending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thing_to_dos.each do |thing_to_do| %>
      <tr>
        <td><%= thing_to_do.name %></td>
        <td><%= thing_to_do.description %></td>
        <td><%= thing_to_do.attending %></td>
        <td><%= link_to 'Show', thing_to_do %></td>
        <td><%= link_to 'Edit', edit_thing_to_do_path(thing_to_do) %></td>
        <td><%= link_to 'Destroy', thing_to_do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thing To Do', new_thing_to_do_path %>
