<h1> New User Page </h1>

<%= form_for @user, url: 'create' do |f|  %>

<input name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>"/>

 <%= f.label :name %>     <%= f.text_field :name %>     <br>
 <%= f.label :password %> <%= f.password_field :password %> <br>
 <%= f.submit "Create" %>
<% end %>
